
.start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -49%);
}

.playBtn{

}

.game{

}

#startValues{

}

.playerCards div{
  display: inline-block;
  height: 50px;
  width: 40px;
  border: solid 2px;
  margin-right: 5px;
}

.dealerCards div{
  display: inline-block;
  height: 50px;
  width: 40px;
  border: solid 2px;
  margin-right: 5px;
}

.hiddenCard{
  visibility: hidden
}